main {
    z-index: 9;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;

    .timer-title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 30px;
            color: var(--White);
            font-weight: bold;
            letter-spacing: 5px;
            text-align: center;
            line-height: 50px;
        }
    }

    .countdown-timer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 680px) {
            justify-content: center;
            gap: 20px;
        }
        @media (max-width: 500px) {
            gap: 20px;
        }

        .timer-wrapper {
            width: 120px;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            @media (max-width: 680px) {
                width: 20%;
                height: fit-content;
            }

            .timer {
                width: 100%;
                height: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;

                span {
                    z-index: 9;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    font-size: 50px;
                    color: var(--Soft-red);
                    font-weight: bold;
                }

                .half-width {
                    width: 100%;
                    height: 50%;
                    transition: transform 0.5s ease-in-out;
                    background-color: var(--Dark-desaturated-blue);
                }
                .timer-up {
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }
                .timer-down {
                    border-top: 1px solid var(--Very-dark-mostly-black-blue);
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
                .middle-trim-left {
                    width: 10px;
                    height: 10px;
                    background-color: var(--Very-dark-mostly-black-blue);
                    position: absolute;
                    top: 50%;
                    left: -5px;
                    transform: translateY(-50%);
                    border-radius: 50%;
                }
                .middle-trim-right {
                    width: 10px;
                    height: 10px;
                    background-color: var(--Very-dark-mostly-black-blue);
                    position: absolute;
                    top: 50%;
                    right: -5px;
                    transform: translateY(-50%);
                    border-radius: 50%;
                }
            }

            .timer-name {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    color: var(--Grayish-blue);
                    letter-spacing: 3px;
                    font-weight: bold;

                    @media (max-width: 680px) {
                        font-size: 14px;
                        letter-spacing: 0;
                    }
                }
            }
        }
    }
}